
# Core
numpy
pandas
scipy

# Visualization
matplotlib
seaborn

# Computer Vision
opencv-python
mediapipe

# Deep Learning
torch
torchvision
timm
transformers

# Machine Learning
scikit-learn

# Utilities
tqdm
pyyaml

# Notebook
jupyter

# Demo
gradio
